<div class="container">
    <h3>Login here</h3>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="exampleInputEmail1">Username:</label>
            <input type="username" class="form-control" formControlName="email" formControlName="email" id="exampleInputUserName" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password:</label>
            <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-radio">
            <label class="form-check-label d-block">Select Role:</label>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="teacherRole" name="role" formControlName="role" value="teacher">
                <label class="form-check-label" for="teacherRole">Teacher</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="studentRole" name="role" formControlName="role" value="student">
                <label class="form-check-label" for="studentRole">Student</label>
            </div>
        </div>

        <button id="submit" type="submit" class="btn btn-primary">Submit</button>

    </form>
    
        <small id="register" class="form-text text-muted">Not registered? <a href="../register">Register here</a></small>

    </div>